{{> head}}

{{> navbar }} 

  <div class="row">
      <div class="col-8">
           <h1>Algun texto</h1>
      </div>

      <div class="col-4">
        <img src="../../public/assets/img/descarga.png" class="img-thumbail">
        
      </div>
           

  </div>  

{{> footer}}

